body {
  text-align: center;
  background-color: rgb(177, 124, 124);
}
.lives-container {
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 5px;
  padding: 10px;
  font-weight: bold;
  background-color: aqua;
  margin-bottom: 15px;
}
.timer-container {
  background-color: black;
  color: white;
  font-weight: bolder;
  padding: 5px;
  max-width: 150px;
  margin: auto;
  border-radius: 10px;
}
.smiley {
  font-size: larger;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.hint {
  font-size: larger;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.board {
  margin: auto;
  background-color: white;
  color: black;
  width: 50vh;
  height: 50vh;
}
.cell {
  background: rgb(128, 128, 128);
  cursor: pointer;
  text-align: center;
  width: 25%;
  height: 25%;
}
.cell:hover {
  background-color: rgb(196, 193, 193);
}

footer {
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px;
  font-weight: bold;
  background-color: aqua;
}
