body {
  text-align: center;
  background-color: rgb(177, 124, 124);
}
.head {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: azure;
  font-size: 50px;
}
.lives {
  font-size: smaller;
  background-color: black;
  color: rgb(177, 124, 124);
  padding: 5px;
  max-width: 300px;
  margin: auto;
  margin-bottom: 15px;
  border: dashed rgb(177, 124, 124) 5px;
}
.buttons {
  margin: auto;
  background-color: black;
  margin-bottom: 10px;
  padding: 10px;
  max-width: 50%;
  border-radius: 10px;
}
.hint {
  width: 50px;
  padding: 5px;
  margin-bottom: 7px;
  cursor: pointer;
  border: black 2px solid;
  font-size: x-large;
  background-color: aliceblue;
}
/* .hint:hover {
  background-color: yellow;
} */
.smiley {
  width: 50px;
  padding: 5px;
  margin-bottom: 7px;
  cursor: pointer;
  border: black 2px solid;
  font-size: x-large;
  background-color: aliceblue;
}

.board {
  margin: auto;
  background-color: white;
  color: black;
  width: 250px;
  height: 250px;
}
.cell {
  background: rgb(128, 128, 128);
  cursor: pointer;
  width: 25%;
  height: 25%;
  text-align: center;
}
.cell:hover {
  background-color: rgb(196, 193, 193);
}
img {
  width: 30px;
  height: 30px;
}
footer {
  margin: auto;
  margin-top: 15px;
  background-color: aqua;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  max-width: 50%;
}
